<Page>
  
  <StackLayout cssClass="top-border" orientation="vertical" style.backgroundColor="white">
   
  
    <Label text=" Zdzisław " cssClass="imie"  height="50px"   />
    <Label text=" Grodzki"  cssClass="imie"  height="50px"   />
    
    <Label text="Zobacz profil"  cssClass="zobacz"  />
     
    <Image src="~/images/logo.png" cssClass="image"  horizontAlignment="center" />
    
    <Label text="" cssCalss="kreska" height="1px" style.backgroundColor="black"/>
    
    
    
    
    <!--<Label text="Historia" cssClass="hisoria" width="*" height="200" style.backgroundColor="yellow" />-->
    <Label text="HISTORIA:" cssClass="historia" />




<Label text="" xssClass="kreskaa" height="1px" style.backgroundColor="black"/>
    <Label text="Opinie:" cssClass="opinie" />

    
    <ListView.itemTemlate>
      <GridLayout  row="*,*" cssClass="grid">
        <Label row="0" col="1" text="{{ room }}" cssClass="row"/>
        
        
      </GridLayout>
    
    </ListView.itemTemlate>   
    
    </StackLayout>


</Page>
